$letra-header: 'hollow';
$letra-titulos: 'pokesolid';
$letra-cotenido: 'cabin';
$letra-anunciados: 'oswald';
$color-letra-principal: white;
$color-bg-principal: #bd3133;
$padding: 9.3px;
$alto: 510px;
$ancho: 500px;
$alto-secciones: 250px;
$ancho-secciones: 360px;
$planifica: 250px;
$alto-responsive: 250px;

/* Tamaños Tablet */

$alto-secciones-tablet: 145px;
$ancho-secciones-tablet: 170px;
$alto-anime-tablet: 250px;
$ancho-anime-tablet: 350px;
$header: 8rem;
$titulos: 5.5rem;
$titulo-seccion: 2rem;
$subtitulos: 3.5rem;
$subtitulos2: 2.8rem;
$contenido: 1.5rem;